@import '';

/* _content/KristofferStrube.Blazor.RadialContextMenu/RadialContextMenuRenderer.razor.rz.scp.css */
.my-component[b-av7v9w81hw] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/KristofferStrube.Blazor.RadialContextMenu/RadialSectionRenderer.razor.rz.scp.css */
path[b-awd06pvclu] {
	fill:darkgrey;
	stroke:lightgrey;
	stroke-width:2;
}

path:hover[b-awd06pvclu] {
	stroke-width:4;
	fill:silver;
}
